<ion-view title="Registro de Actas alternativas" class="bg-gray" >
  <div class="bar bar-header bar-royal">
    <h1 class="title header-logo">Votantes Concurrentes</h1>
  </div>
  <form>
    <ion-content overflow-scroll="true" padding="true" class="has-header" >
      <h4>Validación de datos</h4>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Municipio</span>
          <input type="number" ng-model="parties.Municipio" placeholder="021">
        </label>
        <div class="spacer" style="width: 283px; height: 15px;"></div>
        <label class="item item-input">
          <span class="input-label">Colegio</span>
          <input type="number" ng-model="parties.Colegio" placeholder="000">
        </label>
        <div class="spacer" style="width: 283px; height: 15px;"></div>
        <label class="item item-input">
          <span class="input-label">Codigo Verificador</span>
          <input type="number" placeholder="00" ng-model="parties.Verificador">
        </label>

        <div class="list card">
          <div class="item item-divider">Votantes</div>
          <div class="item item-body">
            <div class="list">
              <label class="item item-input">
                <span class="input-label">Votante#</span>
                <input type="number" ng-model="parties.PLD" placeholder="0" >
              </label>
              <label class="item item-input">
                <span class="input-label">Votante#</span>
                <input type="number" ng-model="parties.PRD" placeholder="0" >
              </label>
              <label class="item item-input">
                <span class="input-label">Votante#</span>
                <input type="number" ng-model="parties.PRSC" placeholder="0" >
              </label>

            </div>
          </div>

        </div>

      </div>

    </ion-content>
    <div class="bar bar-footer bar-royal ">
      <div class="button-bar">
        <button  ui-sref="menu" class=" icon-left ion-arrow-left-a button button-assertive">Volver</button>
        <button class="button button-energized icon-left ion-trash-a" ng-click="cleanForm()" type="reset">Limpiar</button>
        <button class="button button-balanced icon-right ion-paper-airplane" ng-disabled="(!parties.Municipio || !parties.Verificador  || !parties.Colegio) ||(parties.Municipio.length===0 || !parties.Verificador.length===0   || !parties.Colegio.length===0 ) " ng-click="enviar()">Enviar</button>
      </div>
    </div>
  </form>
</ion-view>
