<ion-view title="Menu" class="bg-gray" >
  <div class="bar bar-header bar-royal">
    <h1 class="title header-logo">Menu</h1>
  </div>
  <form>
    <ion-content overflow-scroll="true"  class="has-header" >
      <div class="list">

        <div class="item item-button-right">
          Acta Alternativa
          <button  ui-sref="actasAlternativas"  class="button button-positive">
            <i class="icon ion-arrow-right-a"></i>
          </button>
        </div>

        <div class="item item-button-right">
          Acta Oficial
          <button  ui-sref="actaOficial" class="button button-positive">
            <i class="icon ion-arrow-right-a"></i>
          </button>


      </div>
        <div class="item item-button-right">
          Votantes concurrentes
          <button   ui-sref="actasAlternativas" class="button button-positive">
            <i class="icon ion-arrow-right-a"></i>
          </button>
          </div>
        </div>
      </ion-content>
    </form>
  </ion-view>
